html, body {
    background-color: #F8ECD1;
    width:100%;
    height:100%;
}

h1, h3 {
    color: #f4a460;
    font-family: 'Armata', sans-serif;
}

h1 {
    text-align: center;
}

.objective {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
    height: auto;
}

hr {
    border-color: grey;
    border-width: 0.3em;
    border-style: dotted none none;
    width: 10%;
}
